node_modules

build/node_modules/
output/
build/svnConfig.json

tags

*.exe

.c9*
.settings

.idea
.idea/
.idea/*


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

.svn

*.swo
*.swp

