{% extends "_layout/layout.html" %}

{% block title %}关于钱沿 – 钱沿支付{% endblock %}

{% block bodyClass %}class="bg-gray"{% endblock %}

{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
    	<section class="content-box content-box-white">
    		<h2 class="title">关于钱沿</h2>
    		<div class="content-box-m text-indent">
    			<p>钱沿支付，是由广东钱途互联商务服务有限公司顺应互联网的发展，以实现支付场景的丰富性、突破解决网银和第三方支付的支付局限性为出发点，创新打造的全新支付工具。</p>
    			<p>广东钱途互联商务服务有限公司（以下简称“钱途互联”）位于广州天河CBD中心区的核心地段，目前员工近百人。钱途互联致力于打造创新型支付解决方案，构建支付新生态。自建立伊始，钱途互联始终以“拓展支付场景丰富性、打破网银和第三方支付的局限性，提供更丰富的应用场景”为业务核心，致力于通过支付场景的创新、构造，让客户在便捷支付的基础上，实现资金增值和拥有特权的消费应用。</p>
    			<p>目前，钱途互联已形成并成功运营含投融资平台、垂直电商、预付费电商、供应链集团等涵盖各行业的多种成熟的支付解决方案。</p>
    			<p>钱途互联期待联手有实力的、拥有广泛目标客户的线上线下合作伙伴，通过支付合作，共同参与支付应用场景的打造，实现共赢。</p>
    			<p>享增值，惠支付，钱途互联会不断在创新支付领域深耕、努力，与各领域伙伴一起，开创美好未来。</p>
    		</div>
    	</section>
    	<section class="content-box content-box-white">
    		<h2 class="title">联系我们</h2>
    		<div class="content-box-m contact-content">
    			<h3>广东钱途互联商务服务有限公司</h3>
    			<p>
	    			广州总部：<br />
	    			广东省广州市天河区体育西路109号高盛大厦
    			</p>
    			<p>
    				深圳分公司：<br />
    				广东省深圳市福田区深南大道7006号富春东方大厦7层<br />
    				服务热线：<tel>400-106-6698</tel><br />
					公司总机：<tel>0755-83476005</tel>
    			</p>
    			<p>
    				业务合作邮箱：<a href="mailto:frontpay_bd@frontpay.cn">frontpay_bd@frontpay.cn</a><br />
					客户咨询邮箱：<a href="mailto:frontpay_service@frontpay.cn">frontpay_service@frontpay.cn</a>
				</p>
                <ul class="map-list">
                    <li>
                        <h3>广州总部</h3>
                        <div class="map-box">
                            <iframe width="288" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/N2kv3"></iframe>
                        </div>
                    </li>
                    <li>
                        <h3>深圳分公司</h3>
                        <div class="map-box">
                            <iframe width="288" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/nSkv3"></iframe>
                        </div>
                    </li>
                </ul>    			
    		</div>
    	</section>
    </main>
{% endblock %}