{% extends "_layout/layout.html" %}

{% block title %}客户服务 – 钱沿支付{% endblock %}

{% block body %}
    <section class="page-banner"><img src="ow_mobile_depend/images/banner/solution_banner08.jpg"alt=""></section>
    <main class="container">
    	<ul class="list">
         <li>
            <a href="FeedBack.html">
                <i></i>
                <span>反馈留言</span>
                <b></b>
            </a>
        </li>
        <li>
            <a href="Service.html">
                <i></i>
                <span>常见问题</span>
                <b></b>
            </a>
        </li>   
        </ul>
    </main>
{% endblock %}