{% extends "_layout/layout.html" %}

{% block title %}企业服务 – 钱沿支付{% endblock %}

{% block bodyClass %}class="bg-gray banner-fixed"{% endblock %}

{% block body %}
    <section class="container">
        <div class="page-banner page-banner-2 page-banner-5">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner5.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner5_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner5_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container main">
        <section class="content-box content-box-white reset-padding">
            <ul class="vert-list">
                <li>
                    <img src="ow_mobile_depend/images/CompanyService-img01.jpg" alt="">
                    <h2>担保交易</h2>
                    <p>收货后再付款<br />交易有保障</p>
                </li>
                <li>
                    <img src="ow_mobile_depend/images/CompanyService-img02.jpg" alt="">
                    <h2>多种组合支付方式</h2>
                    <p>让资金流转更灵活</p>
                </li>
                <li>
                    <img src="ow_mobile_depend/images/CompanyService-img03.jpg" alt="">
                    <h2>大额支付</h2>
                    <p>省时省力省钱</p>
                </li>
            </ul>
        </section>
        <section class="content-box content-box-white">
            <h2 class="title">关于企业支付消费</h2>
            <div class="content-box-m text-indent">
                <p>互联网+时代，企业现实支付场景应用日趋丰富，原来传统企业网银和第三方支付，也都出现了巨大的支付局限性。</p>
                <p>企业既是收款端也是付款端。钱沿支付深刻理解企业支付结算之痛点，重点在跨行支付便捷、支付成本、支付担保、供应链支付结算，划扣支付结算，支付与传统ERP系统的融合等方面，攻克了诸多支付难关，也形成了各类贴切的解决方案，并成功进行了规模性推广应用。</p>
                <p>钱沿支付团队有志于挑战企业支付的一切难题，期待垂询。 </p>
            </div>
        </section>

        <section class="content-box content-box-white">
            <h2 class="title">钱沿企业支付六大优势</h2>
            <ul class="thumb-list" data-spy="affix" data-active="thumb-active">
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">1</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>交易凭证，有依有据</h3>
                        <p>提供交易流水银行凭证打印服务，企业可作为账户收支依据</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">2</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>安全免费，全程无忧</h3>
                        <p>跨行零手续费，多家银行大型客户成功服务案例，银行级安全保障体系</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">3</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>增值设定，给您更多</h3>
                        <p>充值即享财富增值，收益远超货币基金</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">4</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>授信消费，流动便捷</h3>
                        <p>OEM自身品牌，贴心定制与开发</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">5</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>应用丰富，尊享特权</h3>
                        <p>因客户支付应用场景灵活而变，丰富的支付清算系统，支付方式和支付终端</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">6</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>专业服务，优质省心</h3>
                        <p>贴身服务型支付系统支持团队，快速响应</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="content-box content-box-white">
            <h2 class="title">成功案例</h2>
            <ul class="img-list">
                <li>
                    <img src="ow_mobile_depend/images/partners/jjt.png" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/hr_first.png" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/orion.png" alt="">
                </li>
            </ul>
        </section>
    </main>
{% endblock %}

{% block mainjs %}framwork{% endblock %}
