{% extends "_layout/layout.html" %}

{% block title %}首页 – 钱沿支付{% endblock %}
{% block css %}
<link rel="stylesheet" href="ow_mobile_depend/js/fullpage/zepto.fullpage.css">
{% endblock %}
{% block bodyClass %}class="index-body"{% endblock %}

{% block body %}
	<div class="loading"><span>加载中...</span></div>
	<div class="container">
		<div class="screen">
			<div class="screen-wrap">
				<section class="page page1">
	    			<div class="txt page1-txt1"></div>
	    			<div class="txt page1-txt2"></div>
	    		</section>
	    		<section class="page page2">
	    			<div class="txt page2-txt1"></div>
	    			<div class="txt page2-txt2"></div>
	    		</section>
	    		<section class="page page3">
	    			<div class="txt page3-txt1"></div>
	    			<div class="txt page3-txt2"></div>
	    		</section>
	    		<section class="page page4">
	    			<div class="txt page4-txt1"></div>
	    			<div class="txt page4-txt2"></div>
	    			<div class="txt page4-txt3"></div>
	    		</section>
	    		<section class="page page5">
	    			<div class="txt page5-txt1"></div>
	    			<div class="txt page5-txt2"></div>
	    		</section>
			</div>
		</div>
		<span class="start"><b></b></span>

		<span class="start start-right"><b></b></span>
	</div>
{% endblock %}

{% block js %}
	<script>
		// 网站参数配置
    	var webConfig = {imgUrl: 'ow_mobile_depend/images/index/'};
		seajs.use(['app/index']);
	</script>
{% endblock %}
