{% extends "_layout/layout.html" %}

{% block title %}法律声明 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg');">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">法律声明</h2>
            <section class="content-box">
                <p>一、本网站除转载信息外的所有材料的版权属广东钱途互联商务服务有限公司所有。未经广东钱途互联商务服务有限公司书面许可，不得更改、销售或租赁上述材料，或以任何其他形式将上述材料用于任何营利事项中。</p>
                <p>二、任何机构或者个人使用本网站，均应遵守中国有关法律与本声明，不得破坏本网站运行安全，不得利用本网站进行任何违法活动，不得损害广东钱途互联商务服务有限公司的合法权益。</p>
                <p>三、任何机构或者个人向其他网站提供至本网站的链接，应符合下列条件：<br />
     &emsp;&emsp;1.链接必须指向www.frontpay.cn,而不是本网站的其它页面；<br />
     &emsp;&emsp;2.链接必须是文本链接，上面清晰地写明"广东钱途互联商务服务有限公司" 或www.frontpay.cn；<br />
     &emsp;&emsp;3.广东钱途互联商务服务有限公司保留随时收回链接者链接本网站的权利。</p>
                <p>四、广东钱途互联商务服务有限公司可随时修改或更新本网站的所有材料，本网站对所提供的内容力求准确、完整、及时，但并不对其准确性和完整性做出任何保证。本网站转载的内容不代表本协会的观点。在任何情况下，对于因使用或转引本网站材料而导致的任何损失，广东钱途互联商务服务有限公司无须承担法律责任。</p>
            </section>
        </article>
    </main>
{% endblock %}