{% extends "_layout/layout.html" %}

{% block title %}商家服务 – 钱沿支付{% endblock %}
{% block bodyClass %}class="bg-gray"{% endblock %}

{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner3.jpg')">
            </div>
        </div>        
    </section>
    <main class="merchanServices">
        <ul class="list-menu">
            <li>
                <a href="FeedBack.html">
                    <i class="menu-icon-notepad"></i>
                    <span>反馈留言</span>
                </a>                
            </li>
            <li>
                <a href="Service.html">
                    <i class="menu-icon-question"></i>
                    <span>常见问题</span>
                </a>                
            </li>
        </ul>
    </main>
{% endblock %}

{% block mainjs %}framwork{% endblock %}
