{% extends "_layout/layout.html" %}

{% block title %}新快网-“E+账户”,招商银行小企业E家互联网金融重磅创新 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">媒体报道</h2>
            <header>
                <h1>新快网-“E+账户”,招商银行小企业E家互联网金融重磅创新</h1>
                <p class="content-meta">
                    来源：<em>新快网</em><time>2014-07-15</time>
                </p>
            </header>
            {% include "card.html" %}
            <section class="content-box text-indent">
                <p><a href="http://news.xkb.com.cn/caijing/2014/0715/337209.html"><img src="http://www.frontpay.cn/ow_depend/img/new5.png" alt=""></a></p>


                        <p>
                            自2013年以来,互联网金融战场硝烟弥漫,网络巨头的跨界创新风起云涌。面对复杂多变的市场形势,招商银行建设了开放式、综合化的互联网金融服务平台小企业E家,探索互联网环境下全方位服务和经营中小企业客户的商业模式。
                        </p>
                        <p>
                            小企业E家在充分发挥招商银行网上企业银行既有优势基础上,围绕中小企业“存、贷、汇”等基本金融需求,创新开发了企业在线信用评级、网贷易、惠结算、我要理财等互联网金融产品,并实现了与银行中后台信贷管理系统、客户关系管理系统等的对接,初步形成了从客户接触、跟进营销,商机发掘、产品销售到在线业务办理的全链条“O2O”(online to offline)经营模式。
                        </p>
                        <p>
                            本年度,秉承着提升客户体验为中心、构建平台和获取大数据的目标,招商银行小企业E家推出了又一具有重大价值的创新型互联网金融产品—“E+账户”。在整合内外部互联网渠道和资源基础上,创新研发了面向广泛的行内外企业客户的“E+账户”余额理财、份额支付、定期理财等完全基于互联网的投资理财业务。
                        </p>
                        <p>
                            余额理财业务是目前国内同业中首个推出的企业版类“余额宝”产品,客户可直接通过互联网实现货币资金与货币基金份额的自由转换;份额支付业务实现了货币基金份额的在线支付和交易结算,在降低客户交易成本的同时提升了支付效率;定期理财业务借助投融资平台的成功经验,创新构建了全程互联网环境的B2B模式企业闲置资金进行投资理财的应用场景。
                        </p>
                    
            </section>
        </article>
    </main>
{% endblock %}