{% extends "_layout/layout.html" %}

{% block title %}21cn新闻-招行小企业E家布局“互联网+供应链金融”高地 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">媒体报道</h2>
            <header>
                <h1>21cn新闻-招行小企业E家布局“互联网+供应链金融”高地</h1>
                <p class="content-meta">
                    来源：<em>21cn新闻</em><time>2015-05-12</time>
                </p>
            </header>
            {% include "card.html" %}
            <section class="content-box text-indent">
                <p><a href="http://news.21cn.com/caiji/roll1/a/2015/0512/18/29532080.shtml"><img src="http://www.frontpay.cn/ow_depend/img/new3.png" alt=""></a></p>
                      <p>
                                    5月13日，招商银行在杭州举办“互联网+供应链金融”创新大会，会上招行小企业E发布“互联网+供应链金融”创新模式与解决方案，旨在以互联网的开放模式无缝整合供应链的信息流、资金流、商流、物流、单据流，打造“支付+投资+融资”一站式解决方案。
                                </p>
                                <p>
                                    招商银行此举着眼于布局产业互联网金融，聚焦产业供应链、大型商品交易市场、互联网电商平台等各类交易模式及应用场景，以极致客户体验为目标，以互联网模式为核心兼顾O2O商务模式，提供涵盖账户体系、收付交易、供应链融资、投资增值为一体的综合化交易银行服务方案——“E+账户”。
                                </p>
                                <p>
                                    这是招商银行应用互联网思维和技术，立足“支付、应用场景、交易渠道”三个关键点，重塑传统银行“存贷汇”功能，打造公司金融新优势的亮剑之举，充分印证了“大象也能跳舞、银行也具备互联网基因”。
                                </p>
                                <p>
                                    <b>用互联网的思维做深产业金融</b>
                                </p>
                                <p>
                                    过去几年，第三方支付、余额宝、P2P、众筹、直销银行、互联网证券、互联网保险、互联网金融门户等都经历了爆发式增长，互联网金融早期初放式的发展红利已逐步消退，大数据、移动金融、人工智能等正在演进为核心驱动力。与此同时，在“互联网+”这个风口上，互联网金融的重心正在从B2C、C2C的个人互联网金融向B2B、B2B2C的产业互联网金融转移。
                                </p>
                                <p>
                                    互联网金融的本质还是“金融”，离不开金融的基本功能和属性。互联网企业与传统银行相较而言，前者BAT垄断了个人互联网，但目前也只是接触到了产业金融的末端，要大规模进入和主导产业金融，仍会遭遇明显的短板和阻碍，如大额融资、行业壁垒、垂直市场的经济规模等，而商业银行凭借扎实的客户基础、专业能力与风控体系，发力产业互联网金融具有显著优势。这将是商业银行在“互联网+”风口上，面对以互联网为基础设施和实现工具的经济发展新形态，在全新的行业分工和要素分配过程中掌握主动、顺势突围的重大机遇。
                                </p>
                                <p>
                                    招商银行相关人士介绍，小企业E家按照“平台+金融核心+大数据”的互联网创新路径，一直在进行产业互联网金融的深入探索与实践。前期是对传统公司金融业务的互联网优化与升级，建设互联网投融资平台，利用互联网优势实践普惠金融；然后是通过互联网化的创新型公司金融产品渗透到泛供应链金融领域，围绕核心企业及其上下游建立端到端、开放式的供应链结算与融资支持；再到今天提出的“互联网+供应链金融”创新模式与解决方案，以供应链需求痛点为导向，以供应链金融为轴心，与协作企业共同构建产业互联网金融平台生态，形成产业互联网金融可持续经营模式，沉淀和积累大数据，最终实现产业金融的互联网转型和轻型发展。产业金融与互联网的融合将是实体经济与商业银行把握互联网发展机遇、重构产业金融价值链的共同选择，二者将相向而行，殊途同归。
                                </p>
                                <p>
                                    <b>“E+账户”助力产业互联网升级融</b>
                                </p>
                                <p>
                                    当前，众多传统企业纷纷开始尝试“触网”转型，谋求资金流、信息流、商贸流、物流在互联网上的无缝对接，甚至将传统的面向客户兜售产品或服务的B2C模式，转变为围绕客户需求快速响应，以客户需求为主导来开展产品生产和服务提供的C2B模式，以促进企业商业模式的多样化发展，实现企业“互联网+”的产业升级。
                                </p>
                                <p>
                                    在企业的商品交易平台触网过程中，普遍存在跨行结算、虚拟账户清算、便捷融资、投资增值等各项需求。招商银行通过深入分析产业互联网交易模式下客户交易需求，完全基于互联网思维创新设计“E+账户”。招商银行不参与电商平台间的竞争，而是遵循“平等、开放、协作、分享”的互联网精神，深入底层做“平台的平台”，为各类企业和平台提供更加普惠、更加开放的互联网金融服务。
                                </p>
                                <p>
                                    <b>“E+账户”是全程在线开立、实时跨行身份验证、免费跨行结算、余额生息的互联网金融开放账户，是企业“互联网+”产业升级的一站式结算及投资方案，是招行为企业专属定制的供应链结算+供应链融资整体解决方案。</b>E+账户具有如下特点：一是全程在线开立。E+账户作为招行互联网金融平台“小企业E家”的开放账户，其开立过程全程在线，包括在线申请、在线绑定他行的企业或个人结算账户用于充值和提现。二是实时跨行身份验证。E+账户通过与外部机构及其他银行合作，能够对企业及个人用户进行实时在线跨行实名验证，解决了互联网交易中陌生用户的身份识别问题，打破了传统银行间的封闭式用户验证壁垒，极大提高了交易信度。三是一点接入，跨行收付。E+账户让更多的企业用更轻的方式实现跨行结算，企业只需要与招行一家对接，无需逐家银行谈判，就能实现跨行结算。通过E+账户的标准API接口，合作的企业可以自由接入自身的供应链系统，采购、销售平台，商品交易平台等体系。四是订单与付款匹配。通过E+账户，买家、卖家、平台都得以在E+账户的界面把订单信息、资金信息、物流信息进行一一匹配。企业客户还能查询并打印银行交易流水，以满足做账需要。平台能进行交易数据、交易结构等智能统计分析。五是免费跨行结算。传统银行或三方支付的跨行收单费用一般为付款金额的千6到千8不等，上不封顶。E+账户利用互联网的跨界补贴思路，为平台及平台的用户实现了免费跨行结算，有效降低了金融服务的整体成本，减轻了用户的交易成本，降低了平台的运营压力。六是交易资金专享投资收益。用户开立E+账户后，可以充值、也可以基于平台某笔订单进行直接支付，资金一进入E+账户就实时匹配了小企业E家投资产品，实现了交易资金同时享有投资收益。通过“免费结算+投资收益”的增值服务，提升客户粘性，促进平台上的用户进行重复消费，助力平台提升主业经营。
                                </p>
                                <p>
                                    <b>小企业E家重塑“供应链金融”</b>
                                </p>
                                <p>
                                    产业金融的核心在交易金融，交易金融的引擎是供应链金融。事实上，国内银行业早在十几年前就已启动对“供应链金融”的探索，破解中小企业融资难题。但传统供应链金融因多种因素掣肘，发展并不如业界想象那般迅猛。比如，当今的商业环境仍存在伪造、商业纠纷等问题，且线下沉淀的大量支付、借贷数据无法与企业经营联系，是银行难以掌握和运用的“无因数据”，导致国内供应链金融业务仍高度依赖核心企业或其上下游交易主体的信用支持供应链支付、供应链账款管理及供应链融资的现金流闭环运作，封闭性、自偿性、特定性的特点明显。
                                </p>
                                <p>
                                    供应链金融的关键词是：协同、效率、成本，这几方面正是互联网的最大优势。招商银行提出的“互联网+供应链金融”创新模式，通过利用小企业E家以“支付中介”身份切入供应链的生产经营环节，避开供应链融资业务最常发生的伪造与商业纠纷信息，沉淀实质交易的运营现金流，将以往传统结算业务中的“无因的支付数据”转化为“有因交易数据”。在沉淀了宝贵的“有因交易数据”基础上，招商银行将进一步结合平台交易数据和平台上客户金融需求，以互联网开放模式整合供应链信息流，面向广泛的供应链上下游企业提供创新性交易及融资工具，由互联网来发挥供应链要素优化配置的决定性作用，使“互联网”模式下的新型供应链金融实现开放性、广泛性、柔性供应链。
                                </p>
                                <p>
                                    招行交易银行部左创宏总经理表示，小企业E家体现了招商银行对于“互联网+”的思考和态度，不仅仅是对传统银行业务的互联网化，而是希望与实体经济、微观个体及各类互联网元素紧密融合、发生化学反应、打通产业互联网金融的“最后一公里”。
                                </p>
                                    
            </section>
        </article>
    </main>
{% endblock %}