{% extends "_layout/layout.html" %}

{% block title %}搜狐财经-资金躺着也挣钱——招商银行携手招商基金打造“e+账户”理财神器 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">媒体报道</h2>
            <header>
                <h1>搜狐财经-资金躺着也挣钱——招商银行携手招商基金打造“e+账户”理财神器</h1>
                <p class="content-meta">
                    来源：<em>搜狐财经</em><time>2013-12-27</time>
                </p>
            </header>
            {% include "card.html" %}
            <section class="content-box text-indent">
                <p><a href="http://business.sohu.com/20131227/n392483256.shtml"><img src="http://www.frontpay.cn/ow_depend/img/new7.png" alt=""></a></p>

                             <p>
                                 12月20日，在招商银行和招商基金联合主办的“互联网投资之道—小企业e家财富沙龙暨e+账户推介会”活动上，招商银行和招商基金联合推出的“小企业e家—e+账户”服务引起与会中小企业负责人的强烈反响与关注。
                             </p>
                             <p>
                                 据悉，e+账户是由招商银行联合招商基金为中小企业量身定相关公司股票走势招商银行19.43+0.140.73%制的全新网上金融服务，该服务借助招商银行“小企业e家”互联网金融服务平台，通过与招商基金旗下招商现金增值基金绑定，为用户带来远超活期存款的高收益，同时具有流动性好、风险低、开户操作简单便捷等特点。
                             </p>
                             <p>
                                 以e+账户真实的交易数据为例，某企业用户在2013年11月12日至2013年12月3日期间分3次共充值1820万，又因资金结算需要先后4次提现1141.42万。倘若企业将该笔资金放在银行活期账户，截止到12月19日，活期存款利息收入不足2160元；而该企业通过使用e+账户，累计收益超过26900元，两种不同方式的收益差距高达12倍。
                             </p>
                             <p>
                                 据了解，招商银行正在推动小企业e家、e+账户与国内多个供应链核心企业系统化创新合作，将更好地助力企业进行资源整合，实现价值最大化。招商基金有关人士表示，e+账户以招商银行小企业e家为基础，打造针对中小企业业务的创新互联网金融服务，将不断以金融电子商务推动企业智能理财新模式。
                             </p>
                        
                    
            </section>
        </article>
    </main>
{% endblock %}