{% extends "_layout/layout.html" %}

{% block title %}媒体报道 – 钱沿支付{% endblock %}
{% block bodyClass %}class="bg-gray"{% endblock %}

{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content content-news">
            <h2 class="title">媒体报道</h2>
            <ul class="article-list">
                <li>
                    <a href="News1.html">
                        <header>
                            <h3>报告：三季度第三方移动支付逾2万亿元bbbbbbbbbbbbbbbbbb </h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">经济日报讯 （记者 姚进）易观智库日前发布的《中国第三方...</p>
                        <p><time>2014-12-09</time></p>
                    </a>                    
                </li>
                <li>
                   <a href="News1.html">
                        <header>
                            <h3>报告：三季度第三方移动支付逾2万亿元bbbbbbbbbbbbbbbbbb </h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">经济日报讯 （记者 姚进）易观智库日前发布的《中国第三方...</p>
                        <p><time>2014-12-09</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News1.html">
                        <header>
                            <h3>报告：三季度第三方移动支付逾2万亿元bbbbbbbbbbbbbbbbbb </h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">经济日报讯 （记者 姚进）易观智库日前发布的《中国第三方...</p>
                        <p><time>2014-12-09</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News1.html">
                        <header>
                            <h3>报告：三季度第三方移动支付逾2万亿元bbbbbbbbbbbbbbbbbb </h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">经济日报讯 （记者 姚进）易观智库日前发布的《中国第三方...</p>
                        <p><time>2014-12-09</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News1.html">
                        <header>
                            <h3>报告：三季度第三方移动支付逾2万亿元bbbbbbbbbbbbbbbbbb </h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">经济日报讯 （记者 姚进）易观智库日前发布的《中国第三方...</p>
                        <p><time>2014-12-09</time></p>
                    </a>             
                </li>
            </ul>
        </article>
    </main>
{% endblock %}

{% block mainjs %}framwork{% endblock %}
