{% extends "_layout/layout.html" %}

{% block title %}媒体报道 – 钱沿支付{% endblock %}
{% block bodyClass %}class="bg-gray"{% endblock %}

{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content content-news">
            <h2 class="title">媒体报道</h2>
            <ul class="article-list">
                <li>
                    <a href="News1.html">
                        <header>
                            <h3>招行小企业E家 布局“互联网+供应链金融”</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">5月13日，招行小企业E发布“互联网+供应链金融”创新模式与解决方案，旨在以互联网的开放模式无缝整合供</p>
                        <p><time>2015-05-14</time></p>
                    </a>                    
                </li>
                <li>
                   <a href="News2.html">
                        <header>
                            <h3>人民网-预见先行，招行小企业E家布局“互联网+供应链金融”高地</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">5月13日，招商银行在杭州举办“互联网+供应链金融”创新大会，会上招行小企业E发布“互联网+供应链金融”创新</p>
                        <p><time>2015-05-13</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News3.html">
                        <header>
                            <h3>21cn新闻-招行小企业E家布局“互联网+供应链金融”高地</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">5月13日，招商银行在杭州举办“互联网+供应链金融”创新大会，会上招行小企业E发布“互联网+供应链金融”创新模</p>
                        <p><time>2015-05-12</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News4.html">
                        <header>
                            <h3>东方财经-招行小企业E家，互联网金融非常之道</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">互联网金融脱媒的核心是互联网带来的社会要素的公平再分配。互联网金融脱媒的进程中，商业银行独立承担了</p>
                        <p><time>2015-03-18</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News5.html">
                        <header>
                            <h3>新快网-“E+账户”,招商银行小企业E家互联网金融重磅创新</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">小企业E家在充分发挥招商银行网上企业银行既有优势基础上,围绕中小企业“存、贷、汇”等基本金融需求,创新开</p>
                        <p><time>2014-07-15</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News6.html">
                        <header>
                            <h3>重庆晚报数字报-招行推出“E+账户”定期理财</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">自去年以来，互联网金融战场硝烟弥漫，网络巨头的跨界创新风起云涌。不过，银行系的“宝宝军团”后来居上</p>
                        <p><time>2014-07-08</time></p>
                    </a>             
                </li>
                <li>
                    <a href="News7.html">
                        <header>
                            <h3>搜狐财经-资金躺着也挣钱——招商银行携手招商基金打造“e+账户”理财</h3>
                            <span class="view-link">查看详情 &gt;</span>
                        </header>
                        <p class="article-desc">12月20日，在招商银行和招商基金联合主办的“互联网投资之道—小企业e家财富沙龙暨e+账户推介会”活动上</p>
                        <p><time>2013-12-27</time></p>
                    </a>             
                </li>
            </ul>
        </article>
    </main>
{% endblock %}