{% extends "_layout/layout.html" %}

{% block title %}东方财经-招行小企业E家，互联网金融非常之道 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">媒体报道</h2>
            <header>
                <h1>东方财经-招行小企业E家，互联网金融非常之道</h1>
                <p class="content-meta">
                    来源：<em>东方财经</em><time>2015-03-18</time>
                </p>
            </header>
            {% include "card.html" %}
            <section class="content-box text-indent">
                <p><a href="http://finance.eastday.com/m/20150318/u1ai8627585.html"><img src="http://www.frontpay.cn/ow_depend/img/new4.png" alt=""></a></p>

                                <p>
                                    互联网金融脱媒的核心是互联网带来的社会要素的公平再分配。互联网金融脱媒的进程中，商业银行独立承担了账户、结算、清算、收单、反洗钱等大量管理和运营成本，但在紧密贴近用户需求的新型互联网金融机构的挤压下不断被“后台化”和“边缘化”，“存、贷、汇”遭遇全方位金融脱媒，使得商业银行正逐渐退化为整个金融链条的OEM商，并被残酷的甩在价值的尾端。即便是具有庞大客户规模和传统渠道优势的的国有银行，也只能延缓而无法阻碍这一趋势的发展。金融脱媒的不可逆转，意味着商业银行必须遵循互联网的生存法则，在全新的行业分工和要素分配过程中掌握主动、顺势突围。
                                </p>
                                <p>
                                    为积极应对和把握互联网金融带来的挑战和机遇，招商银行在公司金融领域剑走偏锋、独辟蹊径，推出了定位为专门面向中小企业客户的互联网金融服务平台---小企业E家，开创了国内商业银行互联网公司金融创新之先河。小企业E家是招商银行遵循平等、开放、协作、分享互联网精神，充分调动和整合多方互联网资源打造的开放式、综合化的新型金融服务平台。小企业E家在充分发挥招商银行网上企业银行既有优势基础上，围绕中小企业“存、贷、汇”等基本金融需求，创新开发了企业在线信用评级、在线授信、创新型结算、在线理财等互联网金融产品，并实现了与银行中后台信贷管理系统、客户关系管理系统等的对接，初步形成了从客户接触、跟进营销，商机发掘、产品销售到在线业务办理的全链条“O2O”（onlinetooffline）经营模式。同时，通过与互联网公司、IT企业、行业协会、政府机构等第三方开展广泛的异业协作、合纵连横，小企业E家整合研发了企业版类余额宝账户“E+账户”、基金份额支付、商机平台、ERP云服务、企业商城、在线财务管理、在线进销存、投融资平台等创新的互联网应用，打通和融合了企业在结算、融资、投资理财、商机拓展、办公自动化、人力资源管理、CRM、财务管理、供应链运营等多方面经营行为并提供全方位创新型金融服务。
                                </p>
                                <p>
                                    小企业E家确立了“平台战略+金融核心+大数据”的互联网创新路径，首先是对传统公司金融业务的互联网优化与升级，建设互联网投融资平台，利用互联网优势实践普惠金融，其次是通过互联网化的创新型公司金融产品渗透到泛供应链金融领域，围绕核心企业及其上下游建立端到端、闭环的供应链结算与融资运营支持，再次是主动构建互联网平台生态，把握互联网发展机遇成为主导性的互联网金融平台整合者，形成公司金融互联网持续获客模式，“赢者通吃”且沉淀和积累大数据，最终实现公司金融经营模式的互联网转型和轻型发展。
                                </p>
                                <p>
                                    小企业E家构建的互联网投融资平台，创造性地设计了三权分制机制，将信息发布权、交易撮合权、资金清算权分别赋予招商银行、平台运营商、第三方支付公司三个相互独立的机构，充分保持投融资平台独立和透明的运作，避免关联交易或风险的内部循环，依托线上线下相融合的信息见证服务,实现了社会资金供给和企业融资需求间对称的信息、资金交互，从其业务模式、风控机制、平台定位方面都与目前的国内P2P网络借贷业务大相径庭，有助于利用社会资源解决中小企业融资难、融资贵的问题，为中小企业的便利融资探索了一条互联网路径。小企业E家打通与网上企业银行、智慧供应链系统的对接，研发推出了公司一卡通、移动支票等互联网供应链结算产品，将企业完全线下的传统支付行为转化为线上线下相结合的O2O模式，并且提供体验良好的移动端应用支持，利用小企业E家互联网平台的开放性，围绕企业交易结算链条深度经营企业圈子并延展至开发非招行客户；而且，依托投融资平台不断丰富的投融资品种和模式，不仅可以高效满足供应链核心企业的各类融资需求、优化企业资产负债结构，而且对于供应链上中小企业应收账款或债权的变现及改善流动性，也提供了有别于传统供应链融资的互联网方式；同时，也为广泛的社会财富的保值增值提供了期限灵活、安全性收益性高的投资理财渠道。
                                </p>
                                <p>
                                    小企业E家与众不同的互联网金融模式与特征，正在积极回应互联网金融颠覆传统金融的预言。当商业银行将互联网技术、体验、平台等这些战术嫁接在其强大的产品体系、风控技术、全方位的渠道资源上时，传统的的“存贷汇”业务就实现了再造和升级。小企业E家在服务客户资金结算和投融资交易的同时,通过全方位的互联网金融模式创新打开了公司客户拓展空间，截止2014年底，小企业E家注册用户53.8万户，累计互联网PV超过1亿次，完全打通了客户支付结算账户与收益高且安全性、流动性强的理财账户,在“存”方面，累计吸收和沉淀客户存款超过900亿元；在“贷”方面，累计实现中小企业低成本互联网融资总量超过1000亿元；在“汇”方面，将中小企业投融资需求与庞大社会资金及第三方机构渠道高效对接，平台累计交易结算笔数超过20万笔；同时，通过技术创新与合作，构建了完全基于互联网平台的资金支付体系，形成了以招商银行为主导的第三方结算与清算机制，并积极研发和构建移动端应用场景,加速业务向移动互联网迁移。小企业E家的供应链金融创新超越了传统的、单一的供应链融资模式，以服务供应链企业圈子及营造企业互联网生态为标杆打造泛供应链金融体系，基于平台运营的核心企业1488户，覆盖上下游中小企业9648户，供应链融资余额与结算量分别超过300亿和10000亿。
                                </p>
                                <p>
                                    小企业E家独具特色的互联网金融创新,开辟了有别于传统银行粗放式“存贷汇”业务发展的互联网蹊径，为商业银行把握互联网发展机遇、探索轻型发展之路树立了可借鉴的模式。
                                </p>
                             
            </section>
        </article>
    </main>
{% endblock %}