{% extends "_layout/layout.html" %}

{% block title %}重庆晚报数字报-招行推出“E+账户”定期理财 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-1">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner1.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner1_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner1_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">媒体报道</h2>
            <header>
                <h1>重庆晚报数字报-招行推出“E+账户”定期理财</h1>
                <p class="content-meta">
                    来源：<em>重庆晚报数字报</em><time>2014-07-08</time>
                </p>
            </header>
            {% include "card.html" %}
            <section class="content-box text-indent">
                <p><a href="http://www.cqwb.com.cn/cqwb/html/2014-07/08/content_394674.html"><img src="http://www.frontpay.cn/ow_depend/img/new6.png" alt=""></a></p>
                     
                                <p>
                                    自去年以来，互联网金融战场硝烟弥漫，网络巨头的跨界创新风起云涌。不过，银行系的“宝宝军团”后来居上，面对复杂多变的市场形势，招商银行从容应对，建设了开放式、综合化的互联网金融服务平台。如今，招行面向网上企业银行客户推出了又一具有重大价值的创新型互联网金融产品—“E+账户”定期理财。
                                </p>
                                <p>
                                    据招行相关人士介绍，“E+账户”定期理财业务借助投融资平台的成功经验，通过与招商基金合作，构建了招行网银客户专享的B2B模式理财模式，直接服务企业客户最基本的投资增值需求，为企业客户提供了远超活期存款14倍的定期理财工具，具有费用低、风险低、开户操作简单便捷等特点。
                                </p>
                                <p>
                                    据了解，“E+账户”定期理财还具有以下优点：
                                </p>
                                <p>
                                    投资项目安全：“E+账户”定期理财的投资项目均为招行承兑过的资产业务，综合资质及项目风险水平更安全。
                                </p>
                                <p>
                                    投资收益高：投资客户通过招行网上企业银行购买的资产项目其年化收益达到6%-7%，投资期限最长半年，对投资人有极高的投资回报价值。
                                </p>
                                <p>
                                    免交易费用：“E+账户”定期理财对投资人的所有交易费用全免，节省了一笔不小的开销。
                                </p>
                                <p>
                                    重庆晚报记者　何英
                                </p>
                            
                    
            </section>
        </article>
    </main>
{% endblock %}