{% extends "_layout/layout.html" %}

{% block title %}合作伙伴 – 钱沿支付{% endblock %}
{% block body %}
    <section class="container">
        <div class="page-banner page-banner-2">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner2.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner2_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner2_txt2.png" alt="拓消费金额">
            </div>
        </div>
    </section>
    <main class="container">
        <article class="content">
            <h2 class="title">合作伙伴</h2>
            <ul class="img-list">
                <li>
                    <img src="ow_mobile_depend/images/partners/img_03.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_05.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_07.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_12.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_13.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_14.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_18.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_19.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_20.jpg" alt="">
                </li>
                 <li>
                    <img src="ow_mobile_depend/images/partners/img_24.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_25.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_26.jpg" alt="">
                </li>
            </ul>
        </article>
    </main>
{% endblock %}