{% extends "_layout/layout.html" %}

{% block title %}个人服务 – 钱沿支付{% endblock %}

{% block bodyClass %}class="bg-gray"{% endblock %}

{% block body %}
    <section class="container">
        <div class="page-banner page-banner-4">
            <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/banner/banner4.jpg')">
                <img class="banner-txt1" src="ow_mobile_depend/images/banner/banner4_txt1.png" alt="创新型支付">
                <img class="banner-txt2" src="ow_mobile_depend/images/banner/banner4_txt2.png" alt="拓消费金额">
            </div>
        </div>        
    </section>
    <main class="container main">
        <section class="content-box content-box-white reset-padding">
            <ul class="vert-list">
                <li>
                    <img src="ow_mobile_depend/images/PersonService-01.jpg" alt="">
                    <h2>喜欢网购的您</h2>
                    <p>一键跳转乐享特权</p>
                </li>
                <li>
                    <img src="ow_mobile_depend/images/PersonService-02.jpg" alt="">
                    <h2>钟情移动支付的您</h2>
                    <p>随时随地快享便捷</p>
                </li>
                <li>
                    <img src="ow_mobile_depend/images/PersonService-03.jpg" alt="">
                    <h2>偏爱线下消费的您</h2>
                    <p>扫码即得随心掌握</p>
                </li>
            </ul>
        </section>
        <section class="content-box content-box-white">
            <h2 class="title">关于个人支付</h2>
            <div class="content-box-m text-indent">
                <p>支付是消费者与商户之间的资金纽带。在互联网+时代，钱沿支付可以做到更多。
首先个人可通过网页网银、APP扫码、POS机等多种方式，实现面向商户的支付。其次，在钱沿支付创建的独特的支付场景下，支付成为了商户面向客户的服务延伸工具，个人可享受更方便快捷的支付体验，可以获得各类商户优惠特权，可享受投资收益，或者在不影响收益的前提下，实现信用透支支付等。</p>
                <p>2015，钱沿推出更多面向个人为商户提供的专业支付解决方案，敬请关注。</p>
            </div>
        </section>

        <section class="content-box content-box-white">
            <h2 class="title">钱沿个人支付四大优势</h2>
            <ul class="thumb-list" data-spy="affix" data-active="thumb-active">
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">1</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>创新支付，轻松便捷</h3>
                        <p>支付享优惠，信用当钱花</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">2</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>增值设定，给您更多</h3>
                        <p>充值即享财富增值，收益远超货币基金</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">3</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>安全免费，全程无忧</h3>
                        <p>跨行零手续费，银行级安全保障</p>
                    </div>
                </li>
                <li>
                    <div class="thumb-img">
                        <span class="circle-bg">4</span>
                    </div>
                    <div class="thumb-bd">
                        <h3>应用丰富，尊享特权</h3>
                        <p>优质商户诚意接入，涵盖衣食住行，享更多消费特权</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="content-box content-box-white">
            <h2 class="title">成功案例</h2>
            <ul class="img-list">
                <li>
                    <img src="ow_mobile_depend/images/partners/img_13.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_19.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_25.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_18.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_20.jpg" alt="">
                </li>
                
                <li>
                    <img src="ow_mobile_depend/images/partners/img_12.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_14.jpg" alt="">
                </li>
                <li>
                    <img src="ow_mobile_depend/images/partners/img_24.jpg" alt="">
                </li>
            </ul>
        </section>
    </main>
{% endblock %}