{% extends "_layout/layout.html" %}

{% block title %}常见问题 – 钱沿支付{% endblock %}
{% block bodyClass %}class="bg-gray"{% endblock %}

{% block body %}
    <main class="question">
        <article class="content content-full">
            <h2 class="title">常见问题</h2>
            <dl class="question-list">
                <dt><h2>1.  什么是E+账户？</h2></dt>
                <dd class="text-indent">
                    E+账户是招商银行面向企业及大众推出的一款在线开立，免费跨行结算，有收益的互联网金融创新产品。
                </dd>
                <dt><h2>2.  E+账户的用途？</h2></dt>
                <dd class="text-indent">
                    E+账户招商银行为企业专属定制的支付结算工具，用户充值后的金额不仅可以用于网站上进行支付货款，还可以在此期间产生收益。
                </dd>
                <dt><h2>3.  接入E+账户是否收费？</h2></dt>
                <dd class="text-indent">
                    目前，接入E+账户的标准功能暂不收取费用。如果涉及到个人网关支付，则需要收取网关支付手续费用，收费标准按照市场价格确定。
                </dd>
                <dt><h2>4.  钱途互联是一家怎样的公司，与招商银行的关系怎样？</h2></dt>
                <dd class="text-indent">
                    钱途互联是广东钱途互联商务服务有限公司的简称，是一家专门为各大金融机构、互联网金融平台及其投资理财客户提供创新型金融支付解决方案的互联网公司，与招商银行是战略合作伙伴关系，是E+账户的运营商。
                </dd>
                <dt><h2>5.  已上线、待上线的E+项目有哪些？</h2></dt>
                <dd class="text-indent">
                    目前，E+账户已经对接国内许多知名的客户，如九州通之珍药宝、趣旅网的趣旅宝、智阳之智钱包；允升科技之工业E家等，后续还会陆续接入许多客户。
                </dd>
                <dt><h2>6.  E+账户有哪些类型？</h2></dt>
                <dd class="text-indent">
                    E+账户分个人账户和企业账户两种类型。E+账户中根据角色的不同，依接入的不同行业不同服务功能而不同，如买家/卖家、员工/企业、供应商、经销商等。对应系统分用户管理模块和商家管理系统。
                </dd>
            </dl>
        </article>
    </main>
{% endblock %}

{% block mainjs %}framwork{% endblock %}
