{% extends "_layout/layout.html" %}

{% block title %}行业服务 – 钱沿支付{% endblock %}

{% block body %}
    <main class="container solution">
        <section class="solution-top">
            <div class="solution-bg" style="background-image:url('ow_mobile_depend/images/solution/solution-bg.jpg');">
                <img src="ow_mobile_depend/images/solution/solution-txt1.png" alt="" class="solution-bg-txt1">
                <img src="ow_mobile_depend/images/solution/solution-txt2.png" alt="" class="solution-bg-txt2">
                <img src="ow_mobile_depend/images/solution/solution-txt3.png" alt="" class="solution-bg-txt3">
                <img src="ow_mobile_depend/images/solution/solution-txt4.png" alt="" class="solution-bg-txt4">
                <img src="ow_mobile_depend/images/solution/solution-txt5.png" alt="钱沿支付成熟的行业支付解决方案，包括不仅限于：<br />
投资平台信用支付，电商预付费支付，垂直电商平台支付，交易平台担保支付，企业自动划扣支付，线下商户会员预付费，集团供应链支付结算。" class="solution-bg-txt5">
            </div>
            <div class="solution-guide"><span></span></div>
        </section>
    	<section class="solution-item section-1" data-toggle="active">
            <div class="solution-mask mask-green">
                <img src="ow_mobile_depend/images/solution/logo-Investment2.png" alt="">
                <div class="solution-mask-txt">
                    <h2 class="fs-middle">投资平台信用<br />支付解决方案</h2>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-1">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner1.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner1_txt1.png" alt="投资获信用信用当钱花">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-Investment.png" alt="" class="solution-icon">
            <div class="solution-header theme-green">
                <h1>投资平台信用支付解决方案</h1>
                <small>适用于安全的投资平台</small>
                <a href="Investment.html" class="btn-primary">了解详情</a>
            </div>   
        </section>
        <section class="solution-item section-2" data-toggle="active">
            <div class="solution-mask mask-light-blue">
                <img src="ow_mobile_depend/images/solution/logo-Prepayment2.png" alt="">
                <div class="solution-mask-txt">
                    <h2>电商预付费支付</h2>
                    <small>解决方案</small>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-2">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner2.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner2_txt1.png" alt="">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-Prepayment.png" alt="" class="solution-icon">
            <div class="solution-header theme-light-blue">
                <h1>电商预付费支付解决方案</h1>
                <small>适用于具备重复消费属性的电商平台</small>
                <a href="Prepayment.html" class="btn-primary">了解详情</a>
            </div>
        </section>
        <section class="solution-item section-3" data-toggle="active">
            <div class="solution-mask mask-copper">
                <img src="ow_mobile_depend/images/solution/logo-Commerce2.png" alt="">
                <div class="solution-mask-txt">
                    <h2>垂直电商平台支付</h2>
                    <small>解决方案</small>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-3">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner3.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner3_txt1.png" alt="">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-Commerce.png" alt="" class="solution-icon">
            <div class="solution-header theme-copper">
                <h1>垂直电商平台支付解决方案</h1>
                <small>适用于买卖双方进行商品贸易的电商平台</small>
                <a href="Commerce.html" class="btn-primary">了解详情</a>
            </div>
        </section>
        <section class="solution-item section-4" data-toggle="active">
            <div class="solution-mask mark-light-purple">
                <img src="ow_mobile_depend/images/solution/logo-Trading2.png" alt="">
                <div class="solution-mask-txt">
                    <h2>交易平台担保支付</h2>
                    <small>解决方案</small>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-4">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner4.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner4_txt1.png" alt="">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-Trading.png" alt="" class="solution-icon">
            <div class="solution-header theme-light-purple">
                <h1>交易平台担保支付解决方案</h1>
                <small>适用于电子商务类平台</small>
                <a href="Trading.html" class="btn-primary">了解详情</a>
            </div>
        </section>
        <section class="solution-item section-5" data-toggle="active">
            <div class="solution-mask mask-dark-salmon">
                <img src="ow_mobile_depend/images/solution/logo-Deduct2.png" alt="">
                <div class="solution-mask-txt">
                    <h2>企业自动划扣支付</h2>
                    <small>解决方案</small>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-5">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner5.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner5_txt1.png" alt="">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-Deduct.png" alt="" class="solution-icon">
            <div class="solution-header theme-dark-salmon">
                <h1>企业自动划扣支付解决方案</h1>
                <small>适用于已与消费者达成某种有条件自动支付方案企业</small>
                <a href="Deduct.html" class="btn-primary">了解详情</a>
            </div>
        </section>
        <section class="solution-item section-6" data-toggle="active">
            <div class="solution-mask mask-rosy-brown">
                <img src="ow_mobile_depend/images/solution/logo-Member2.png" alt="">
                <div class="solution-mask-txt">
                    <h2>线下商户会员预付费</h2>
                    <small>解决方案</small>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-6">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner6.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner6_txt1.png" alt="">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-Member.png" alt="" class="solution-icon">
            <div class="solution-header theme-rosy-brown">
                <h1>线下商户会员预付费解决方案</h1>
                <small>适用于实体店店铺商户</small>
                <a href="Member.html" class="btn-primary">了解详情</a>
            </div>
        </section>
        <section class="solution-item section-7" data-toggle="active">
            <div class="solution-mask mask-light-steel-blue">
                <img src="ow_mobile_depend/images/solution/logo-SupplyChain2.png" alt="">
                <div class="solution-mask-txt">
                    <h2>集团供应链跨行<br>支付结算</h2>
                    <small>解决方案</small>
                </div>                
            </div>
            <div class="page-banner solution-banner solution-banner-7">
                <div class="page-banner-bg" style="background-image:url('ow_mobile_depend/images/solution/banner7.jpg')">
                    <img class="banner-txt1" src="ow_mobile_depend/images/solution/banner7_txt1.png" alt="">
                </div>
            </div>
            <img src="ow_mobile_depend/images/solution/logo-SupplyChain.png" alt="" class="solution-icon">
            <div class="solution-header theme-light-steel-blue">
                <h1>集团供应链跨行支付结算解决方案</h1>
                <small>适用于多对一跨地域、跨行支付的供应链集团</small>
                <a href="SupplyChain.html" class="btn-primary">了解详情</a>
            </div>
        </section>
    </main>
{% endblock %}

{% block mainjs %}framwork{% endblock %}

{% block js %}
<script>
    require(['app/industry']);
</script>
{% endblock %}
