/*
--- config ---
*/

@charset "UTF-8";

//引用图片所在目录
@img-url:   "../images/";

//引用字体图标所在目录
@fonticon-url: "fonts/";


//主色调
@primary-color: #361d4a;



//基础背景色
@body-bg: #fff;



//基础文本色调



//基础字体尺寸
@fs: 10px;



//基础页面框架宽度



// 头部参数
@header-h: 44px;
@header-color: #fff;

