/*
--- config ---
*/

@charset "UTF-8";

//引用图片所在目录
@img-url:   "../images/";

//引用字体图标所在目录
@fonticon-url: "fonts/";


//主色调
@primary-color: #361d4a;
@white: #fff;
@yellow: #bc9a48;
@purple: #693883;
@gray: #aaa;
@red: #ff0000;



//基础背景色
@body-bg: @white;
@body-bg-gray: #efeff4;



//基础文本色调
@base-color: #666;
@border-color: #e0e0e1;
@title-color: #191919;



//基础字体尺寸
@fs: 10px;



//基础页面框架宽度
@container: 640px;



// 头部参数
@header-h: 44px;
@header-color: #fff;

@menu-color: @white;

// 页脚
@footer-color: #6b5879;
@footer-nav-color: #e0ccee;

