@import "_share";

/*
--- index ---
*/

@charset "UTF-8";

.index-body{
	.brand{
		background-image: url("@{img-url}/index-logo.png");
	}
	
	.header-back{
		display: none;
	}

	.footer{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 99;
		width: 100%;

		.translate(0, 100%);
		.opacity(0);
		visibility: hidden;
		.transition(all, .5s, ease-in-out, 0);
		
		// 滑出
		&.active{
			.opacity(1);
			.translate(0,0);
			visibility: visible;
		}
	}
	.ft-hotline, .ft-copyright{
		display: block;
	}
}

// 轮播
.screen{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #e3e7f1;
	overflow: hidden;
	
	.page{
		position: relative;
	}
	// 第一屏
	.page1-txt1{
		position: absolute;
		top: 10%;
		left: 50%;
		width: 64%;
		height: auto;
		.opacity(0);
		.translate(-50%, 10%);
		.transition(all, .3s, linear, 0.2s);
	}

	.page1-txt2{
		position: absolute;
		top: 28%;
		left: 50%;
		width: 64%;
		height: auto;
		.opacity(0);
		.translate(-50%, 10%);
		.transition(all, .3s, linear, .5s);
	}

	// 第二屏
	.page2{
		background: #f5f5f6;

		.page2-bg{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
		}

		.page2-txt1{
			position: absolute;
			top: 13%;
			left: 14%;
			width: 50%;
			height: auto;

			.opacity(0);
			visibility: hidden;
			.translate(-10%, 0);
			.transition(all, .3s, ease-in, .2s);
		}

		.page2-txt2{
			position: absolute;
			top: 21%;
			left: 38%;
			width: 50%;
			height: auto;

			.opacity(0);
			visibility: hidden;
			.translate(10%, 0);
			.transition(all, .3s, ease-in, .5s);
		}

		.page2-txt3{
			position: absolute;
			top: 30%;
			left: 15%;
			width: 70%;
			height: auto;

			.opacity(0);
			visibility: hidden;
			.translate(0, 10%);
			.transition(all, .3s, ease-in, .8s);
		}
	}

	// 第3屏
	.page3{
		background: #e3e7f1;

		.page3-txt1,.page3-txt2{
			visibility: hidden;
			.opacity(0);
			.translate(0, 20%);
			.transition(all, .5s, ease-in-out, 0);
		}

		.page3-txt1{
			position: absolute;
			top: 15%;
			width: 65.3%;
			height: auto;
			left: 17.5%;
		}

		.page3-txt2{
			position: absolute;
			top: 31%;
			width: 88.75%;
			height: auto;
			left: 5.6%;
		}
		
	}

	.page4{
		background: #96b4de;	
		
		.page4-txt1,.page4-txt2,.page4-txt3{
			visibility: hidden;
			.opacity(0);
			.translate(0, -20%);
			.transition(all, .5s, ease-in-out, 0);
		}

		.page4-txt1{
			position: absolute;
			top: 13%;
			width: 77%;
			height: auto;
			left: 11.7%;
		}

		.page4-txt2{
			position: absolute;
			top: 28%;
			width: 79%;
			height: auto;
			left: 11.7%;
		}

		.page4-txt3{
			position: absolute;
			top: 34%;
			width: 92.7%;
			height: auto;
			left: 3%;
		}	
	}

	.page5{
		background: #bdd2e1;

		.page5-txt1,.page5-txt2{
			visibility: hidden;
			.opacity(0);
			.translate(0, 20%);
			.transition(all, .5s, ease-in-out, 0);
		}

		.page5-txt1{
			position: absolute;
			top: 16.5%;
			width: 75.78%;
			height: auto;
			left: 13%;
		}

		.page5-txt2{
			position: absolute;
			top: 32.67%;
			width: 79%;
			height: auto;
			left: 10.5%;
		}
	}
	
	&.active{
		.page1{
			background: url('@{img-url}/index/p1.jpg') no-repeat bottom center;
			background-size: cover;
		}

		.page3{
			background: url('@{img-url}/index/p3.jpg') no-repeat bottom center;
			background-size: cover;
		}

		.page4{
			background: url('@{img-url}/index/p4.jpg') no-repeat bottom center;
			background-size: cover;
		}

		.page5{
			background: url('@{img-url}/index/p5.jpg') no-repeat bottom center;
			background-size: cover;
		}

		.cur{
			.page1-txt1,.page1-txt2{
				.translate(-50%, 0);
				.opacity(1); 
			}

			.page2-txt1,.page2-txt2, .page2-txt3,
			.page3-txt1,.page3-txt2,
			.page4-txt1,.page4-txt2,.page4-txt3,
			.page5-txt1,.page5-txt2{
				.translate(0, 0);
				.opacity(1);
				visibility: visible;
			}

			// page4
			.page4-txt2{
				.transition-delay(0.3s);
			}
			.page4-txt3{
				.transition-delay(0.6s);
			}

			// page5
			.page3-txt2,
			.page5-txt2{
				.transition-delay(0.5s);
			}
		}
	}
}

/* 箭头 */

@-webkit-keyframes start{
	0%,30%{opacity:.2;-webkit-transform:translate(0,10px)}
	60%{opacity:1;-webkit-transform:translate(0,0)}
	100%{opacity:.2;-webkit-transform:translate(0,-5px)}
}
@keyframes start{
	0%,30%{opacity:.2;transform:translate(0,10px)}
	60%{opacity:1;transform:translate(0,0)}
	100%{opacity:.2;transform:translate(0,-5px)}
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
.start b{
    position: absolute;
    left: 50%; 
    top: 10px;
    margin-left: -9px;
    width: 15px;
    height: 15px;
    border-width: 4px 4px 0 0;
    border-color: @white;
    border-style: solid;
    background-size: 100% 100%;
    .rotate(-45deg);
}

// .start.end{
// 	right: auto;
// 	left: 10px;
	
// 	b{
// 		.rotate(135deg);
// 	}
// }


//--- 兼容低屏幕
@media screen and(max-height: 480px) {
	.screen .page2 .page2-txt1{
		top: 11%;
	}
	.screen .page2 .page2-txt2{
		top: 19%;
	}
	.screen .page2 .page2-txt3{
		top: 28%;
	}

	.screen .page3 .page3-txt1{
		top: 11%;
	}
	.screen .page3 .page3-txt2{
		top: 27%;
	}

	.screen .page4 .page4-txt1{
		top: 10%;
	}
	.screen .page4 .page4-txt2{
		top: 25.4%;
	}
	.screen .page4 .page4-txt3{
		top: 30%;
	}

	.screen .page5 .page5-txt1{
		top: 11%;
	}
	.screen .page5 .page5-txt2{
		top: 28%;
	}
}

@media screen and(max-height: 450px) {
	.screen .page1-txt1,.screen .page1-txt2{
		width: 50%;
	}
	.screen .page1-txt2{
		top: 25.5%;
	}
	.screen .page2 .page2-txt1{
		top: 11%;
		width: 39%;
		left: 20%;
	}
	.screen .page2 .page2-txt2{
		top: 17.5%;
		width: 39%;
	}
	.screen .page2 .page2-txt3{
		top: 25%;
		width: 54.7%;
		left: 22.65%;
	}

	.screen .page3 .page3-txt1{
		width: 51%;
		top: 11%;
		left: 24.5%;
	}
	.screen .page3 .page3-txt2{
		top: 25%;
		width: 69.3%;
		left: 15.35%;
	}

	.screen .page4 .page4-txt1{
		top: 11%;
		width: 60.16%;
		left: 19.92%;
	}
	.screen .page4 .page4-txt2{
		top: 24%;
		width: 61.7%;
		left: 19.15%;
	}
	.screen .page4 .page4-txt3{
		top: 28%;
		width: 72.4%;
		left: 13.8%;
	}

	.screen .page5 .page5-txt1{
		top: 12%;
		width: 59.2%;
		left: 21.29%;
	}
	.screen .page5 .page5-txt2{
		top: 25%;
		width: 61.7%;
		left: 19.15%;
	}
}